DATABASE_PORT=5432
DATABASE_NAME=services
DATABASE_USER=postgres
DATABASE_PASSWORD=change-me

CACHE_PORT=6379

TODO_WEB_IMAGE=ghcr.io/gerdyw/todo_web:latest
TODO_WEB_PORT=3000
TODO_WEB_SCHEMA=todo_web
TODO_WEB_RUST_LOG=todo_web=info

IMAGE_STITCH_IMAGE=ghcr.io/gerdyw/image-stitch:latest
IMAGE_STITCH_PORT=3001
IMAGE_STITCH_SCHEMA=image_stitch
IMAGE_STITCH_API_KEY_MODE=submit_only
IMAGE_STITCH_API_KEY=change-me
IMAGE_STITCH_RUST_LOG=image_stitch=info
