#todo-app {
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 800px;
    /* Desktop max width */
    box-sizing: border-box;
}

/* Small screens take full width */
@media (max-width: 800px) {
    #todo-app {
        width: 100%;
        padding: 15px;
    }
}

@media (max-width: 400px) {
    #todo-app {
        padding: 10px;
    }
}

.button {
    cursor: pointer;
}